<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Login</h2>
<form action="/login" method="POST">
	<input name="email" type="text" />
	<input name="password" type="password" />
	<button type="submit">Sign Up</button>
</form>
