<h1>Login</h1>
<form action="/login" method="POST">
	<input name="email" type="text" />
	<input name="password" type="password" />
	<input name="confirm_password" type="password" />
	<button type="submit">Sign Up</button>
</form>
